<!-- Main hero unit for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1 class="text-center">Masjid Times</h1>
    <h2 class="text-center">Prayer times right from your mosque!</h2><br/>
    <p>Have you ever used a prayer times reminder application which calculates your prayer times using your location and some complex maths?</p>
    <p>The problem is, these prayer times might end up not matching your nearest Mosque...</p>

    <p>Masjid Times uses actual prayer times from your mosque and alerts you when it's time for prayer!</p>
    <!--<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-sm-4">
        <h2>Accurate</h2>
        <p>Masjid Times uses information from a Mosque you choose or your nearest Mosque.</p>
        <p><a class="btn btn-default" href="#/settings">View details &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <h2>Portable</h2>
        <p>The website runs great on mobile phones and tablets. Try it out!</p>
    </div>
    <div class="col-sm-4">
        <h2>Configurable</h2>
        <p>The app lets you configure reminders</p>
        <p><a class="btn btn-default" href="#/settings">View details &raquo;</a></p>
    </div>
</div>