<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit text-center">
    <h2><span class="mosque-name"></span></h2>

    <h3 class="nextprayercounter">Loading...</h3>
</div>

<!-- Example row of columns -->
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#today" data-toggle="tab">Today</a></li>
        <li><a href="#tomorrow" data-toggle="tab">Tomorrow</a></li>
    </ul>
    <div class="tab-content">
        <div id="today" class="tab-pane active">
            <div class="row text-center">
                <p><span class="todaytomorrow">Today</span>'s prayer times</p>
            </div>
            <div class="row today">
                <div class="span2">
                    <h3>Fajr</h3>

                    <p class="fajr-time"></p>
                </div>
                <div class="span2">
                    <h3>Shuruq</h3>

                    <p class="shuruq-time"></p>
                </div>
                <div class="span2">
                    <h3>Duhr</h3>

                    <p class="duhr-time"></p>
                </div>
                <div class="span2">
                    <h3>Asr</h3>

                    <p class="asr-time"></p>
                </div>
                <div class="span2">
                    <h3>Maghrib</h3>

                    <p class="maghrib-time"></p>
                </div>
                <div class="span2">
                    <h3>Isha</h3>

                    <p class="isha-time"></p>
                </div>
            </div>
        </div>
        <div id="tomorrow" class="tab-pane">
            <div class="row text-center">
                <p><span class="todaytomorrow">Tomorrow</span>'s prayer times</p>
            </div>
            <div class="row tomorrow">
                <div class="span2">
                    <h3>Fajr</h3>

                    <p class="fajr-time"></p>
                </div>
                <div class="span2">
                    <h3>Shuruq</h3>

                    <p class="shuruq-time"></p>
                </div>
                <div class="span2">
                    <h3>Duhr</h3>

                    <p class="duhr-time"></p>
                </div>
                <div class="span2">
                    <h3>Asr</h3>

                    <p class="asr-time"></p>
                </div>
                <div class="span2">
                    <h3>Maghrib</h3>

                    <p class="maghrib-time"></p>
                </div>
                <div class="span2">
                    <h3>Isha</h3>

                    <p class="isha-time"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.tab-content -->
</div>
<!-- /.tabbable -->


