<!-- Main hero unit for a primary marketing message or call to action -->
<div class="well text-center" id="top-dashboard">
    <div ng-hide="!nextPrayerCounterText" ng-style="dashboardColor">
        <h4 class="nextprayercounter" >{{nextPrayerCounterText}}</h4>
        <p id="next-previous-status">{{previous.prayer|uppercase}} {{previous.date | date:'HH:mm'}}, {{next.prayer|uppercase}} {{next.date | date:'HH:mm'}}</p>
        <small><span class="mosque-name"></span></small>
    </div>

    <div ng-show="!nextPrayerCounterText">Loading...</div>

    <div id="isha-fajr-bg" class="background" style="opacity: 1"></div>
    <div id="isha-bg" class="background"></div>
    <div id="maghrib-bg" class="background"></div>
    <div id="asr-bg" class="background"></div>
    <div id="duhr-bg" class="background"></div>
    <div id="shuruq-bg" class="background"></div>
    <div id="fajr-bg" class="background"></div>
</div>

<!-- Example row of columns -->
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-ng-click="todayTomorrow = 'today'">Today</a></li>
        <li><a data-toggle="tab" data-ng-click="todayTomorrow = 'tomorrow'">Tomorrow</a></li>
    </ul>
    <div class="tab-content">
        <div id="today" class="tab-pane active" data-ng-show="todayTomorrow == 'today'">
            <div class="row text-center">
                <p><span class="todaytomorrow">Today</span>'s prayer times</p>
            </div>
            <div class="row today prayertimes">
                <div class="col-sm-2">
                    <h3>Fajr</h3>
                    <p class="fajr-time"></p>
                </div>
                <div class="col-sm-2">
                    <h3>Shuruq</h3>
                    <p class="shuruq-time"></p>
                </div>
                <div class="col-sm-2">
                    <h3>Duhr</h3>
                    <p class="duhr-time"></p>
                </div>
                <div class="col-sm-2">
                    <h3>Asr</h3>
                    <p class="asr-time"></p>
                </div>
                <div class="col-sm-2">
                    <h3>Maghrib</h3>
                    <p class="maghrib-time"></p>
                </div>
                <div class="col-sm-2">
                    <h3>Isha</h3>
                    <p class="isha-time"></p>
                </div>
            </div>
        </div>
        <div id="tomorrow" class="tab-pane active" data-ng-show="todayTomorrow == 'tomorrow'">
            <div class="row text-center">
                <p><span class="todaytomorrow">Tomorrow</span>'s prayer times</p>
            </div>
            <div class="row tomorrow prayertimes">
                <div class="col-sm-2">
                    <h3>Fajr</h3>
                    <p class="fajr-time"></p>
                </div>
                <div class="col-sm-2">
                    <h3>Shuruq</h3>
                    <p class="shuruq-time"></p>
                </div>
                <div class="col-sm-2">
                    <h3>Duhr</h3>
                    <p class="duhr-time"></p>
                </div>
                <div class="col-sm-2">
                    <h3>Asr</h3>
                    <p class="asr-time"></p>
                </div>
                <div class="col-sm-2">
                    <h3>Maghrib</h3>
                    <p class="maghrib-time"></p>
                </div>
                <div class="col-sm-2">
                    <h3>Isha</h3>
                    <p class="isha-time"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.tab-content -->
</div>
<!-- /.tabbable -->


