<div id="settings">
    <h2>Settings</h2>
    <h3>Notifications</h3>

    <label class="checkbox">
        <input type="checkbox" value="">
        Play sound at Adhan time
    </label>
    <label class="checkbox">
        <input type="checkbox" value="">
        Show MasjidTimes window at Adhan time
    </label>
    <label class="checkbox">
        <input type="checkbox" value="">
        Show notification at Adhan time
    </label>


    <h3>Local Storage</h3>
    <p>MasjidTimes saves your settings locally on your device, so you can access it offline.</p>
    <a class="btn" href="#clear">Clear cache and local storage</a>
</div>