@font-face {
    font-family: 'Cantora One';
    font-style: normal;
    font-weight: 400;
    src: local('Cantora One'), local('CantoraOne-Regular'), url(Cantora_One.woff) format('woff');
}


.nextprayercounter{
  text-transform: capitalize;
    font-family: 'Cantora One';
}

#mosque-list{
    margin: 15px 0px 0px;
}

#mosque-list li{
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3px 5px;
    background-color: #F3F3F3;
    cursor: pointer;
    list-style: none;
}

#mosque-list li:hover{
    border: 1px solid #ACACAC;
    background-color: #C3DEFF;
}

#mosque-list li.selected{
    background-color: #D2FAD2;
}


/*.modal {
    position: absolute;
    top: 10%;
}

@media all and (min-height: 40em) {
    .modal {
        position: fixed;
    }
    .modal-body {
        max-height: 35em;
        overflow-y: auto;
    }
}*/

html,
body {
    min-height: 100%;
}
.humane,
.humane-jackedup {
    position: fixed;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    z-index: 100000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.humane,
.humane-jackedup {
    font-family: Helvetica Neue, Helvetica, san-serif;
    font-size: 13px;
    letter-spacing: -1px;
    top: 20px;
    left: 30%;
    opacity: 0;
    width: 40%;
    color: #333;
    padding: 10px;
    text-align: center;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACWCAYAAAAfduJyAAAABmJLR0QA/wD/AP+gvaeTAAAAIklEQVQokWNgYGCQZGJgYGDARTDSQnboGDqsnDt0DKWNLAAkiQFdC+vZNQAAAABJRU5ErkJggg==');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.1)), color-stop(1, rgba(0,0,0,0.2))) no-repeat;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 100%) no-repeat;
    background: linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 100%) no-repeat;
    background-color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -moz-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
}
.humane p,
.humane-jackedup p,
.humane ul,
.humane-jackedup ul {
    margin: 0;
    padding: 0;
}
.humane ul,
.humane-jackedup ul {
    list-style: none;
}
.humane.humane-jackedup-info,
.humane-jackedup.humane-jackedup-info {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAYAAAAp8ov1AAAABmJLR0QA/wD/AP+gvaeTAAAAR0lEQVQokWNISfn/n4mBgeE/EwMDAwMqQYQYmdoGlxgjI4rY//+Dx2nUFRsQZ2ALTrQQp8QL1DWeqASC014y7aCx8QwMDAwA1aZBIulmpvwAAAAASUVORK5CYII=');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.7)), color-stop(1, rgba(0,0,0,0.85))) no-repeat;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.85) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.85) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.85) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.85) 100%) no-repeat;
    background: linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.85) 100%) no-repeat;
    background-color: #fff;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.35);
}
.humane.humane-jackedup-success,
.humane-jackedup.humane-jackedup-success {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAYAAAAp8ov1AAAABmJLR0QA/wD/AP+gvaeTAAAASElEQVQokc2SMQ4AIAgDD9/K/79QVzWaENTownAJbWnA5SqACkA/Aiy59hczrGVC30Q7y57EmNU5NL5zwln50IMsfZMel+UBKtFBQSLWM9wLAAAAAElFTkSuQmCC');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #62c462), color-stop(1, #57a957)) no-repeat;
    background: -moz-linear-gradient(top, #62c462 0%, #57a957 100%) no-repeat;
    background: -webkit-linear-gradient(top, #62c462 0%, #57a957 100%) no-repeat;
    background: -ms-linear-gradient(top, #62c462 0%, #57a957 100%) no-repeat;
    background: -o-linear-gradient(top, #62c462 0%, #57a957 100%) no-repeat;
    background: linear-gradient(top, #62c462 0%, #57a957 100%) no-repeat;
    background-color: #64ff64;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.35);
}
.humane.humane-jackedup-error,
.humane-jackedup.humane-jackedup-error {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAABmJLR0QA/wD/AP+gvaeTAAAAf0lEQVQokY2TOQ7AIAwER/5mivy/yRc2RQDhA0jhghFYO5bhuS+TZMAoIUMEhhH4loGhfu71cenM3DutWMsaeGKjv3zO5N17KLPJ0+fQD8cpv5uVLPo4vnX0PpXj0nuaaeVzdmw+yXG1O96n2p3kozB757Ni1Z5UPsU9SP8AeAG1kHXE+7RlPAAAAABJRU5ErkJggg==');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ee5f5b), color-stop(1, #c43c35)) no-repeat;
    background: -moz-linear-gradient(top, #ee5f5b 0%, #c43c35 100%) no-repeat;
    background: -webkit-linear-gradient(top, #ee5f5b 0%, #c43c35 100%) no-repeat;
    background: -ms-linear-gradient(top, #ee5f5b 0%, #c43c35 100%) no-repeat;
    background: -o-linear-gradient(top, #ee5f5b 0%, #c43c35 100%) no-repeat;
    background: linear-gradient(top, #ee5f5b 0%, #c43c35 100%) no-repeat;
    background-color: #ee5f5b;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.35);
}
.humane-animate,
.humane-jackedup.humane-jackedup-animate {
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.humane-animate:hover,
.humane-jackedup.humane-jackedup-animate:hover {
    opacity: 0.7;
}
.humane-js-animate,
.humane-jackedup.humane-jackedup-js-animate {
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.humane-js-animate:hover,
.humane-jackedup.humane-jackedup-js-animate:hover {
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}

#top-dashboard{
    /*max-width: 540px;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: none;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 25px;
    text-shadow: 0px 0px 7px #FFF;
}


#top-dashboard .background{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 101px;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

div.row.prayertimes {
    text-align: center;
}

.prayertimes h3{
    font-family: 'Cantora One';
}

div.row.prayertimes>div{
    display: inline-block;
}

#top-dashboard #fajr-bg.background{
    background-image: -webkit-linear-gradient(top, #091b41, #2d345e 13%, #3c4169 25%, #535479 38%, #666283 50%, #8c7f91 62%, #b39c98 75%, #c6a48c 82%, #d9a96e 89%, #d4844e 94%, #934f44);
    background-image: -moz-linear-gradient(top, #091b41, #2d345e 13%, #3c4169 25%, #535479 38%, #666283 50%, #8c7f91 62%, #b39c98 75%, #c6a48c 82%, #d9a96e 89%, #d4844e 94%, #934f44);
    background-image: -o-linear-gradient(top, #091b41, #2d345e 13%, #3c4169 25%, #535479 38%, #666283 50%, #8c7f91 62%, #b39c98 75%, #c6a48c 82%, #d9a96e 89%, #d4844e 94%, #934f44);
    background-image: -ms-linear-gradient(top, #091b41, #2d345e 13%, #3c4169 25%, #535479 38%, #666283 50%, #8c7f91 62%, #b39c98 75%, #c6a48c 82%, #d9a96e 89%, #d4844e 94%, #934f44);
    background-image: linear-gradient(to bottom, #091b41, #2d345e 13%, #3c4169 25%, #535479 38%, #666283 50%, #8c7f91 62%, #b39c98 75%, #c6a48c 82%, #d9a96e 89%, #d4844e 94%, #934f44);
}

#top-dashboard #shuruq-bg.background{
    background-image: -webkit-linear-gradient(top, #957c75, #8c9abd, #9eaccf 7%, #bbc1d9 26%, #c6c8dd 33%, #d1d0de 39%, #d8d6e1 44%, #dcd3d8 50%, #edded9 57%, #f6dfcd 64%, #ffdebb 70%, #fed9ad 75%, #ffd193 81%, #ffb96b 88%, #ffb55e 91%, #fead51 94%, #fe9e48 97%, #fe8043);
    background-image: -moz-linear-gradient(top, #957c75, #8c9abd, #9eaccf 7%, #bbc1d9 26%, #c6c8dd 33%, #d1d0de 39%, #d8d6e1 44%, #dcd3d8 50%, #edded9 57%, #f6dfcd 64%, #ffdebb 70%, #fed9ad 75%, #ffd193 81%, #ffb96b 88%, #ffb55e 91%, #fead51 94%, #fe9e48 97%, #fe8043);
    background-image: -o-linear-gradient(top, #957c75, #8c9abd, #9eaccf 7%, #bbc1d9 26%, #c6c8dd 33%, #d1d0de 39%, #d8d6e1 44%, #dcd3d8 50%, #edded9 57%, #f6dfcd 64%, #ffdebb 70%, #fed9ad 75%, #ffd193 81%, #ffb96b 88%, #ffb55e 91%, #fead51 94%, #fe9e48 97%, #fe8043);
    background-image: -ms-linear-gradient(top, #957c75, #8c9abd, #9eaccf 7%, #bbc1d9 26%, #c6c8dd 33%, #d1d0de 39%, #d8d6e1 44%, #dcd3d8 50%, #edded9 57%, #f6dfcd 64%, #ffdebb 70%, #fed9ad 75%, #ffd193 81%, #ffb96b 88%, #ffb55e 91%, #fead51 94%, #fe9e48 97%, #fe8043);
    background-image: linear-gradient(to bottom, #957c75, #8c9abd, #9eaccf 7%, #bbc1d9 26%, #c6c8dd 33%, #d1d0de 39%, #d8d6e1 44%, #dcd3d8 50%, #edded9 57%, #f6dfcd 64%, #ffdebb 70%, #fed9ad 75%, #ffd193 81%, #ffb96b 88%, #ffb55e 91%, #fead51 94%, #fe9e48 97%, #fe8043);

}

#top-dashboard #duhr-bg.background{
    background-image: -webkit-linear-gradient(top, #3a63bd, #436eca 12%, #4b78d3 25%, #6899e8 50%, #74a3e7 63%, #89b1e5 76%, #96b9d9 88%, #89a1bb);
    background-image: -moz-linear-gradient(top, #3a63bd, #436eca 12%, #4b78d3 25%, #6899e8 50%, #74a3e7 63%, #89b1e5 76%, #96b9d9 88%, #89a1bb);
    background-image: -o-linear-gradient(top, #3a63bd, #436eca 12%, #4b78d3 25%, #6899e8 50%, #74a3e7 63%, #89b1e5 76%, #96b9d9 88%, #89a1bb);
    background-image: -ms-linear-gradient(top, #3a63bd, #436eca 12%, #4b78d3 25%, #6899e8 50%, #74a3e7 63%, #89b1e5 76%, #96b9d9 88%, #89a1bb);
    background-image: linear-gradient(to bottom, #3a63bd, #436eca 12%, #4b78d3 25%, #6899e8 50%, #74a3e7 63%, #89b1e5 76%, #96b9d9 88%, #89a1bb);
}

#top-dashboard #asr-bg.background{
    background-image: -webkit-linear-gradient(top, #6095a6, #74a2af 25%, #82abb2 50%, #91b1b2 75%, #a7b7ac 94%, #adb8ab 97%, #b8baa7);
    background-image: -moz-linear-gradient(top, #6095a6, #74a2af 25%, #82abb2 50%, #91b1b2 75%, #a7b7ac 94%, #adb8ab 97%, #b8baa7);
    background-image: -o-linear-gradient(top, #6095a6, #74a2af 25%, #82abb2 50%, #91b1b2 75%, #a7b7ac 94%, #adb8ab 97%, #b8baa7);
    background-image: -ms-linear-gradient(top, #6095a6, #74a2af 25%, #82abb2 50%, #91b1b2 75%, #a7b7ac 94%, #adb8ab 97%, #b8baa7);
    background-image: linear-gradient(to bottom, #6095a6, #74a2af 25%, #82abb2 50%, #91b1b2 75%, #a7b7ac 94%, #adb8ab 97%, #b8baa7);
}

#top-dashboard #maghrib-bg.background{
    background-image: -webkit-linear-gradient(top, #747cc5, #968bc5 25%, #b294b0 50%, #d69076 70%, #fa963e 80%, #e96d31 88%, #6a1c2a);
    background-image: -moz-linear-gradient(top, #747cc5, #968bc5 25%, #b294b0 50%, #d69076 70%, #fa963e 80%, #e96d31 88%, #6a1c2a);
    background-image: -o-linear-gradient(top, #747cc5, #968bc5 25%, #b294b0 50%, #d69076 70%, #fa963e 80%, #e96d31 88%, #6a1c2a);
    background-image: -ms-linear-gradient(top, #747cc5, #968bc5 25%, #b294b0 50%, #d69076 70%, #fa963e 80%, #e96d31 88%, #6a1c2a);
    background-image: linear-gradient(to bottom, #747cc5, #968bc5 25%, #b294b0 50%, #d69076 70%, #fa963e 80%, #e96d31 88%, #6a1c2a);
}

#top-dashboard #isha-bg.background{
    background-image: -webkit-linear-gradient(top, #2a3a54, #32425b 24%, #33435d 37%, #364761 50%, #3d4e68 75%, #42526b);
    background-image: -moz-linear-gradient(top, #2a3a54, #32425b 24%, #33435d 37%, #364761 50%, #3d4e68 75%, #42526b);
    background-image: -o-linear-gradient(top, #2a3a54, #32425b 24%, #33435d 37%, #364761 50%, #3d4e68 75%, #42526b);
    background-image: -ms-linear-gradient(top, #2a3a54, #32425b 24%, #33435d 37%, #364761 50%, #3d4e68 75%, #42526b);
    background-image: linear-gradient(to bottom, #2a3a54, #32425b 24%, #33435d 37%, #364761 50%, #3d4e68 75%, #42526b);
}

#top-dashboard #isha-fajr-bg.background{
    background-image: -webkit-linear-gradient(top, #091b41, #2d345e 13%, #3c4169 25%, #535479 38%, #666283 50%, #8c7f91 62%, #b39c98 75%, #c6a48c 82%, #d9a96e 89%, #d4844e 94%, #934f44);
    background-image: -moz-linear-gradient(top, #091b41, #2d345e 13%, #3c4169 25%, #535479 38%, #666283 50%, #8c7f91 62%, #b39c98 75%, #c6a48c 82%, #d9a96e 89%, #d4844e 94%, #934f44);
    background-image: -o-linear-gradient(top, #091b41, #2d345e 13%, #3c4169 25%, #535479 38%, #666283 50%, #8c7f91 62%, #b39c98 75%, #c6a48c 82%, #d9a96e 89%, #d4844e 94%, #934f44);
    background-image: -ms-linear-gradient(top, #091b41, #2d345e 13%, #3c4169 25%, #535479 38%, #666283 50%, #8c7f91 62%, #b39c98 75%, #c6a48c 82%, #d9a96e 89%, #d4844e 94%, #934f44);
    background-image: linear-gradient(to bottom, #091b41, #2d345e 13%, #3c4169 25%, #535479 38%, #666283 50%, #8c7f91 62%, #b39c98 75%, #c6a48c 82%, #d9a96e 89%, #d4844e 94%, #934f44);
}

html{
    overflow-y: auto;
}

